<section data-ng-controller="ChatController" data-ng-init="enter()">
    <div class="form-group row">
        <div class="col-md-2 col-xs-2">
            <label for="room_list" class="control-label">Room List</label>
        </div>        
        <div class="col-md-6 col-xs-6">
            <select class="form-control" id="room_list">
                <option data-ng-repeat="room in rooms" value="{{room.name}}">
                    {{room.name}}
                </option>
            </select>      
        </div>
        <div class="col-md-2 col-xs-2">
            <button type="submit" class="btn btn-default">Join</button>
            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Create New Room</button>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-2 col-xs-2">
            <label for="user_list" class="control-label">User List</label>
        </div>
        <div class="col-md-8 col-xs-8">
            <ul>
                <li data-ng-repeat="user in users">
                    {{user.name}}
                </li>
            </ul>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form role="form" data-ng-submit="createNewRoom()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Create New Room</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-md-2 col-xs-2">
                                <label for="room_list" class="control-label">Name</label>
                            </div>        
                            <div class="col-md-8 col-xs-8">
                                <input id="room_name" name="room_name" data-ng-model="room_name" type="text" class="col-md-10" placeholder="Enter Room Name."/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</section>